* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(bg-desktop.svg);
    font-size: 15px;
}

.outer {
    display: flex;
    justify-content: space-between;
    padding: 65px 0px;
}

.outer img {
    width: 760px;
    height: 460px;
}

.layout {
    padding: 52px 205px;
}

.inner {
    padding: 71px 51px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    color: rgb(238, 226, 226);
    padding-top: 12px;
}

.btn {
    padding-top: 30px;
}

button {
    color: hsl(257, 40%, 49%);
    width: 155px;
    height: 45px;
    border-radius: 45px;
    border: #fff;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 1020px;
}

.icon {
    background-color: hsl(257, 40%, 49%);
    width: 30px;
    height: 18px;
    text-align: center;
    padding: 6px 0px 8px 0px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
}

.fab {
    color: #fff;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.icon:hover {
    border-color: hsl(300, 69%, 71%);
}

.fab:hover {
    color: hsl(300, 69%, 71%);
}

@media (max-width:700px) {
    .outer {
        flex-direction: column;
    }
    .outer img {
        width: 625px;
    }
    .inner {
        padding: 38px 0px 10px 0px;
        text-align: center;
        width: 619px;
    }
    h1 {
        font-size: 52px;
    }
    p {
        font-size: 33px;
    }
    .btn {
        padding-top: 65px;
    }
    button {
        width: 400px;
        height: 90px;
        font-size: 30px;
    }
    .icons {
        padding: 10px 200px;
    }
    .icon {
        width: 73px;
        height: 60px;
        font-size: 40px;
    }
    .layout {
        padding: 52px 25px;
    }
    .icon:hover {
        border-color: hsl(300, 69%, 71%);
    }
    .fab:hover {
        color: hsl(300, 69%, 71%);
    }
}